logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nyc_output/
dist/
mysql*/
local.*
.vscode/
cache/
runtime/
src/maker.ts
src/config/chains.json
src/config/testnet.json
pm2.json
.yalc
yalc.lock
.env

yarn.lock
package.lock


