logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nyc_output/
dist/
mysql*/
local.*
.vscode/
cache/
runtime/
src/maker.ts
src/config/chain.json
src/config/maker.json
src/config/chainTest.json
src/config/makerTest.json
pm2.json
.yalc
yalc.lock
.env

yarn.lock
package-lock.json

chains.json
